<ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item nav-clear menu-close  ui-sref="app.berts.dashboard">
                <span>dashboard</span>
            </ion-item>
            <ion-item nav-clear menu-close ui-sref="app.berts.workouts">
                <span>workouts</span>
            </ion-item>
            <ion-item nav-clear menu-close ui-sref="app.berts.exercises">
                <span>exercise</span>
            </ion-item>
            <ion-item nav-clear menu-close ui-sref="app.berts.settings">
                <span>settings</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>